@use "@workspace/ui/styles/mixins" as *;
@use "@workspace/ui/styles/variables" as *;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.page-root{
  // @include resize-root-padding;
}


.page-container{
  @include responsive-container;
  @include resize-root-padding;
}

/* in 2k monitor */
//max-width: 1232px;
