@use "@workspace/ui/styles/mixins" as *;
@use "@workspace/ui/styles/variables" as *;
@use "@workspace/ui/styles/globals" as *;
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
}

.cont {
  will-change: transform;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: start;
  transform-origin: center center;
  &__1 {
    grid-area: 1 / 1 / 3 / 2;
  }

  &__2 {
    grid-area: 1 / 2 / 1 / 4;
  }

  &__3 {
    grid-area: 2 / 2 / 3 / 4;
  }

  &__4 {
    grid-area: 3 / 2 / 4 / 4;
  }

  &__5 {
    grid-area: 3 / 1 / 4 / 2;
  }
}

// profile img
.thumbnail {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: -20%;
  width: 100%;
  pointer-events: none;
  cursor: none;
}
.glass{
}

.card-parallax-inner{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
