.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.cont {
  &__1 {
    grid-area: 1 / 1 / 3 / 3;
  }

  &__2 {
    grid-area: 1 / 3 / 2 / 4;
  }

  &__3 {
    grid-area: 2 / 3 / 3 / 4;
  }

  &__4 {
    grid-area: 3 / 2 / 4 / 4;
  }

  &__5 {
    grid-area: 3 / 1 / 4 / 2;
  }
}

// profile img
.thumbnail {
  aspect-ratio: 4/6;
}
