@use "./variables" as *;
@use "sass:map";

// _mixins.scss

// Mobile View First
@mixin mobile-up{
  @media (min-width: $breakpoint-mobile) {
    @content;
  }
}
@mixin tablet-up{
  @media (min-width: $breakpoint-tablet + 1) {
    @content;
  }
}
@mixin laptop-up{
  @media (min-width: $breakpoint-laptop + 1) {
    @content;
  }
}
@mixin desktop-up{
  @media (min-width: $breakpoint-desktop + 1) {
    @content;
  }
}

@mixin set-container-size($max-width){
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

// resize root-padding
@mixin resize-root-padding{
  @include set-root-padding($breakpoint-mobile);

  @include tablet-up{
    @include set-root-padding($breakpoint-tablet);
  }

  @include laptop-up{
    @include set-root-padding($breakpoint-laptop);
  }

  @include desktop-up{
    @include set-root-padding($breakpoint-desktop);
  }
}

// responsive container mobile first
@mixin responsive-container{
  @include set-container-size($container-size-mobile);

  @include tablet-up{
    @include set-container-size($container-size-tablet);
  }
  @include laptop-up{
    @include set-container-size($container-size-laptop);
  }
  @include desktop-up{
    @include set-container-size($container-size-desktop);
  }
}

@mixin set-root-padding($breakpoint) {
  padding-top: map.get($view-size-mobile, padding-top);
  padding-bottom: map.get($view-size-mobile, padding-bottom);

  @include tablet-up{
    padding-top: map.get($view-size-tablet, padding-top);
    padding-bottom: map.get($view-size-tablet, padding-bottom);
  }

  @include laptop-up{
    padding-top: map.get($view-size-laptop, padding-top);
    padding-bottom: map.get($view-size-laptop, padding-bottom);
  }

  @include desktop-up{
    padding-top: map.get($view-size-desktop, padding-top);
    padding-bottom: map.get($view-size-desktop, padding-bottom);
  }
}
