.horizontal-slider-main{
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
}

.slide{
  box-sizing: border-box;
  width: 44%;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  &__bg{
    
  }
}
