@use '@workspace/ui/styles/mixins' as *;
#projects{

  overflow-x: hidden;
}

.page-container{
  @include responsive-container;
  @include resize-root-padding;

  &.overflow-container{
    padding-top: 8rem;
  }
}
