# 디폴트 무시된 파일
/../../../../문서/portfolio-turbo/turborepo-tailwindcss-v3-migration-template/.idea/shelf/
/../../../../문서/portfolio-turbo/turborepo-tailwindcss-v3-migration-template/.idea/workspace.xml
# 에디터 기반 HTTP 클라이언트 요청
/../../../../문서/portfolio-turbo/turborepo-tailwindcss-v3-migration-template/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../문서/portfolio-turbo/turborepo-tailwindcss-v3-migration-template/.idea/dataSources/
/../../../../문서/portfolio-turbo/turborepo-tailwindcss-v3-migration-template/.idea/dataSources.local.xml
